.cart-item {

}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img  {

}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}
h3, h4 {
	font-family: 'Merriweather', serif;

}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

.delivery-cost {

}

.form-control {
	margin: 10px;
	margin-left: 0;
	margin-right: 0;
}

.free {
	color: #0EA107;
}

.total_price {
	color: #EB5A1E;
}

.rouble {
	color: #EB5A1E;
}

.none {
	display: none;
}
